header {
    width: 100%;
    height: auto;
}
header section {
    max-width: 400px;
    width: 100%;
    height: auto;
}
header, header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: "Figtree", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
}
.logo-dot {
    font-weight: 900;
    font-size: 30px;
    color: $color-accent;
}
li {
    list-style: none;
}
a{
    text-decoration: none;
    letter-spacing: 0;
}
ul {
    display: grid;
    align-items: center;
    grid-template: 60px / 70px 70px 60px 60px 1fr 70px 120px; 
    width: 85vw;
    padding-left: 20px;
}
#home{
    grid-area: 1 / 1 / 2 /2;
}
#about {
    grid-area: 1 / 2 / 2 /3;
}
#blog {
    grid-area: 1 / 3 / 2 /4;
}
#contact {
    grid-area: 1 / 4 / 2 /5;
}
#sign-in {
    grid-area: 1 / 6 / 2 / 7;
}
#sign-up-btn {
    grid-area: 1 / 7 / 2 / 8;
}
#sign-in {
    width: 70px;
}
#sign-up-btn {
    justify-self: end;
}
#sign-up-btn button {
    width: 120px;
    height: 59px;
}
button a {
    color: white;
    font-weight: 700;
    text-align: center;
}

ul li:last-child * {
    display: none;
}
