* {
    font-family: "Roboto", sans-serif;
}

header {
    display: block;
  /*   width: 1452px;
    height: 60px; */
}
.logo {
    display: inline-block;
    vertical-align: top;
    font-family: "Figtree", sans-serif; /*Circular std not aviable in google fonts
    this was reccomended instead.*/
    margin-top: 37px;
    margin-left: 80px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    letter-spacing: -0.02em;
    color: #0a1b32;  
}
.logo-dot {
    color: #33a2e0;
}

a{
    text-decoration: none;
}
a:link {
    color: #1b0a42;
}
.nav {
    display: inline-flex;
    vertical-align: top;
    margin-top: 48px;
    margin-left: 98px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}
#about, #contact{
    margin-left: 38px;
}
#blog {
    margin-left: 40px;
}

.login {
    display: inline-block;
    vertical-align: top;
}
.sign-in {
    margin-left: 689px;
    margin-top: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;

}
.sign-up-btn {
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 6px;
    border-color: #33a2e0;
    border-style: solid;
    width: 120px;
    height: 59px;
    background: #33a2e0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}

.main-content {
    display: block;
    margin-top: 143px;
    margin-left: 191px;
    width: 1364px;
    height: 543px;
}
.content-text {
    display: inline-block;
    float: left;
    padding-top: 60px;
    width: 372px;
    height: 583px;
}
h1 {
    margin: 0px;
    margin-left: 9px;
    font-family: "Ramaraja", serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 106%;
    letter-spacing: 0.02em;
    color: #1b0a42;
    width: 500px; /*somehow it doesn't want to me on one line
    if you follow the measurements of 495px*/
}
.main-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #9a9a9a;
    width: 540px; /* Also wierd, the width doesn't check out with
     the one in the fig document. Wrong page break happens. */
    height: 96px;
}
.learn-more-btn {
    margin-left: 9px;
    border-radius: 6px;
    border-color: #33a2e0;
    border-style: solid;
    width: 152px;
    height: 63px;
    background: #33a2e0;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-align: center;
}

#meditation {
    display: inline-block;
    float: right;
    height: 543px;
    width: 796px;

    
}
