@import 'reset';
@import 'variables';

* {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: $color-dark;
}
body {
    margin: 0 auto;
    width: $body-width;
    height: 100%;
    padding: 3%;
}
button {
    @extend %button;
    &:hover {
        background-color: $color-light;
        color: $color-dark;
        cursor: pointer
    }
}
a:hover {
    color: $color-accent;
}


@import 'header';
@import 'main-content';
@import 'resize-changes';