*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    -webkit-transition: none;
    transition: none;
  }
}
body, html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #1b0a42;
}

body {
  margin: 0 auto;
  width: 94%;
  height: 100%;
  padding: 3%;
}

button {
  border-radius: 6px;
  border-color: #33a2e0;
  border-style: solid;
  background: #33a2e0;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

header {
  width: 100%;
  height: auto;
}

header section {
  max-width: 400px;
  width: 100%;
  height: auto;
}

header, header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Figtree", sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 160%;
}

.logo-dot {
  font-weight: 900;
  font-size: 30px;
  color: #33a2e0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  letter-spacing: 0;
}

ul {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 60px;
  -ms-grid-columns: 70px 70px 60px 60px 1fr 70px 120px;
      grid-template: 60px/70px 70px 60px 60px 1fr 70px 120px;
  width: 85vw;
  padding-left: 20px;
}

#home {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

#about {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

#blog {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
}

#contact {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/2/5;
}

#sign-in {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 1/6/2/7;
}

#sign-up-btn {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-area: 1/7/2/8;
}

#sign-in {
  width: 70px;
}

#sign-up-btn {
  -ms-grid-column-align: end;
      justify-self: end;
}

#sign-up-btn button {
  width: 120px;
  height: 59px;
}

button a {
  color: white;
  font-weight: 700;
  text-align: center;
}

ul li:last-child * {
  display: none;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  max-width: 2000px;
  width: 100%;
  min-height: 543px;
}

.main-content section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 583px;
  width: 100%;
  min-height: 372px;
}

h1 {
  font-family: "Ramaraja", serif;
  font-size: 72px;
  line-height: 106%;
  color: #1b0a42;
  max-width: 500px;
  width: 100%;
  height: auto;
}

.main-text {
  font-size: 20px;
  line-height: 160%;
  color: #9a9a9a;
  max-width: 540px;
  width: 100%;
  height: auto;
}

.learn-more-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 152px;
  height: 63px;
  line-height: 200%;
}

#meditation {
  max-width: 796px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1566px) {
  .main-content section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-content * {
    text-align: center;
  }
  h1 {
    margin-top: 50px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 700px) {
  .nav {
    display: block;
  }
  h1 {
    font-size: 50px;
  }
  p {
    font-size: 14px;
  }
}